##  Demographic data analyser

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('adult.data.csv',index_col='race')
df = data.copy()
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
race,,,,,,,,,,,,,,
White,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Male,2174,0,40,United-States,<=50K
White,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,13,United-States,<=50K
White,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,Male,0,0,40,United-States,<=50K
Black,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,United-States,<=50K
Black,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,40,Cuba,<=50K

In [4]:
number_of_people = df.shape[0]
print(f'Number of people represented in this data is {number_of_people}')

Number of people represented in this data is 32561

In [5]:
average_age_for_men = df.loc[df['sex'] == 'Male', 'age'].mean()
print(f'average age for men = {average_age_for_men}')

average age for men = 39.43354749885268

In [18]:
total_people = number_of_people
number_of_people_with_bachelors = df.loc[df['education']== 'Bachelors', 'education'].count()

percentage_for_people_with_bachelors = (number_of_people_with_bachelors/total_people)*100
print(f'percentage for people with bachelors is {percentage_for_people_with_bachelors}')

percentage for people with bachelors is 16.44605509658794

In [53]:
education_levels = ['Bachelors', 'Masters', 'Doctorate']

number_of_people_with_adv = df.loc[(df['education'].isin(education_levels)) & (df['salary']==">50K"), 'education'].count()

percentage_for_people_with_adv = (number_of_people_with_adv/total_people)*100
print(f'percentage for people with bachelors is {percentage_for_people_with_adv}')

percentage for people with bachelors is 10.706059396210192

In [43]:
min_hours = df['hours-per-week'].min()
min_hours

1

In [61]:
number = df.loc[(df['hours-per-week']==min_hours) & (df['salary']=='>=50K'),'workclass'].count()
percentage = (number/total_people)*100
percentage

0.0

In [67]:
countries = df.loc[(df['hours-per-week']==min_hours) & (df['salary']=='<=50K'),'native-country']

In [108]:
numberss = countries.value_counts()

total = numberss.sum()
print(numberss.max())
unique = countries.unique()
print(unique)
for country in unique:
    for i in range(len(unique)):
        if country == unique[i]:
            percentage = ...

14
['?' 'United-States' 'China' 'Vietnam']